<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
    <h4 class="card-title text-center mb-4">Register</h4>
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && Register(registerForm)">


      <div class="mb-3">
        <label style="margin-right: 10px">I am a: </label>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
          <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Female
        </label>
      </div>


      <app-text-input [formControl]="$any(registerForm.get('username'))" [label]="'username'"
        [type]="'text'"></app-text-input>
      <app-text-input [formControl]="$any(registerForm.get('knowAs'))" [label]="'know As'"
        [type]="'text'"></app-text-input>
      <app-data-picker [formControl]="$any(registerForm.get('dateOfBirth'))" [label]="'Date of Birth'"
       [maxDate]="maxDate" ></app-data-picker>
      <app-text-input [formControl]="$any(registerForm.get('city'))" [label]="'City'"
        [type]="'text'"></app-text-input>
      <app-text-input [formControl]="$any(registerForm.get('country'))" [label]="'Country'"
        [type]="'text'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('password'))" [label]="'password'"
        [type]="'password'"></app-text-input>

      <app-text-input [formControl]="$any(registerForm.get('confirmPassword'))" [label]="'confim password'"
        [type]="'password'"></app-text-input>



        <div class="row" *ngIf="validationErrors">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              {{error}}
            </li>
          </ul>
        </div>


        <div class="d-grid">
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success mb-2">
          <i class="fa fa-right-to-bracket me-2"></i> Register
        </button>

        <button type="button" class="btn btn-secondary" (click)="Cancel()">
          <i class="fas fa-times me-1"></i> Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!--
<p>{{registerForm.value | json }}</p>
<p>{{registerForm.status | json}}</p> -->
